* {
    box-sizing: border-box;
}
a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

                    /*меню слева*/

.sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background: linear-gradient(rgba(248, 248, 248, 0.8), 
    rgba(134, 134, 134, 0.8)), 
    url("../image/screensaver_lk.jpg") center no-repeat;
    background-size: cover;

    box-shadow: 2px 0px 2px #535353;
}
/*изображение юзера */

.photo-wrap {
    margin-top: 40px;
    width: 40%;
    border-radius: 50%;
}
.photo-wrap img{
    width: 100%;
    border-radius: 50%;
}
/*имя и профессия юзера*/
.user-name, .user-role {
    margin: 5px;
}

/*Блок задания */

.filter-title {
    text-align: center;
}
.filter-items {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    
}
.filter-items li {
    margin: 10px 0 10px 0;
    text-transform: uppercase;
    font-size: 15px;
}

/*ховер */

.filter-items li:hover {
    border: 1px solid #000000;
    font-size: 13.5px;
    font-weight: 600;
}

/*заголовок*/
.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    
}
.wrapper_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/*кнопки*/
.button_hide_out {
    margin: 10px;
    cursor: pointer;
}
.button_hide_out > div, .logout-button > img {
    width: 20px;
    height: 20px;

}
.logout-button {
    margin: 10px;
}
/*прячем панель навигации*/

.slide_left {
    left: -100%;
}
.button_hide_out > div {
    background-image: url('../image/267-plus.png');
    background-size: 20px;
    background-repeat: no-repeat;
}