::-webkit-scrollbar {
    width: 0px;
}
* {
    box-sizing: border-box;
}
/* все ссылки */
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: fixed;
}
.main_stream {
    width: 100%;
    background-color: rgb(255, 255, 255);
} 
.under_main_stream {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.title_near_menu, .wrapper_tel_header {
    margin: 5px;
}
.wrapper_top_header {
    height: 370px;
}
.wrapper_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    position: fixed;
    background: linear-gradient(rgba(134, 134, 134, 0.644), 
    rgba(134, 134, 134, 0.644)), 
    url("../image/lednik_gory_sneg_151043_1920x1080.jpg") center no-repeat;
    background-size: cover;
    background-position: fixed;
    z-index: -100;
}
.wrapper_title h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
}

/* Кнопка меню + анимация hover*/
.button_header_menu {
    cursor: pointer;
}
.button_header_menu:hover {
    animation-name: caller;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes caller {
    from {
        text-shadow: 5px 0 1px rgba(19, 219, 159, 0.7);
    } 25% {
        text-shadow: 1px 5px 1px rgba(8, 136, 221, 0.7);
    } 50% {
        text-shadow: -5px -1px 1px rgba(201, 28, 158, 0.7);
    } 75% {
        text-shadow: -1px -5px 1px rgba(194, 37, 37, 0.7);
    } to {
        text-shadow: 5px 0 1px rgba(19, 219, 159, 0.7);
    }
}

/*кнопки меню и иже с ним*/
.list_header_menu {
    display: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
    background-color: rgba(27, 27, 27, 0.7);
    mix-blend-mode: difference;
    padding: 25px 10px 25px 10px;
    border-bottom-right-radius: 10px;
}
.list_header_menu li a {
    color: rgba(255, 255, 255, 1);
}
.list_header_menu li {
    margin-top: 15px;
}
.list_header_menu li a:hover {
    animation-name: colorRainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes colorRainbow {
    from {
        color: rgba(255, 255, 255, 1);
    } 23% {
        color: rgba(230, 31, 31, 1);
    } 35.5% {
        color: rgba(240, 113, 9, 1);
    } 48% {
        color: rgba(230, 217, 31, 1);
    } 60.5% {
        color: rgba(38, 230, 31, 1);
    } 73% {
        color: rgba(31, 223, 230, 1);
    } 85.5% {
        color: rgba(31, 61, 230, 1);
    } to {
        color: rgba(134, 31, 230, 1);
    }
}

/*
Класс активности
*/
.active {
    display: block;
}



.article {
    height: 350px;
    width: 100%;
}

.title_wrapper_article {
    margin-top: 0;
    padding-top: 15px;
}
.wrapper_article_tocontent {
    display: flex;
    justify-content: space-between;
}
/* .wrapper_article_tocontent > p {
    width: 45%;
}*/
.image_subtitle {
    display: flex;
    align-items: center;
}
.image_subtitle > img {
    width: 300px;
    height: 216px;
} 

/*footer*/

.footer, .wrapper_footer {
    height: 500px;

}
.footer {
    background: linear-gradient(rgba(134, 134, 134, 0.644), 
    rgba(134, 134, 134, 0.644)), 
    url("../image/teers_paints.jpg") center no-repeat;
    background-size: cover;

}

/* Форма */
.wrapper_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    max-width: 300px;
    min-width: 300px;
    height: 200px;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.footer_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.footer_form > input {
    display: block;
    margin: 15px auto 0 auto;
}
.footer_form > #customer, .footer_form > input#translator {
    display: inline-block;
}
.footer_form > div {
    margin-top: 10px;
}
.wrapper_form > h3 {
    width: contain;
    margin: 0;
}
.deactive {
    display: none;
}

