* {
    box-sizing: border-box;
}
 /*обёртка формы*/
 .wrapper_form_create {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    background-color: rgba(85, 84, 84, 0.8);
    height: 100vh;
    width: 100%;
    
 }
 /*форма*/
 .create_order_form {
    position: absolute;
    width: 50%;
    padding: 15px;
    background: linear-gradient(rgba(248, 248, 248, 0.8), 
    rgba(248, 248, 248, 0.8)), 
    url("../image/1394379740-content2.jpg") center no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 5px rgba(85, 84, 84, 0.8);
    border-radius: 10px;
 }

 /*fieldset*/
 fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
 }
 fieldset > input {
    margin-left: 13px;
 }
 .origin_text {
    border: 2px solid #188f2c;
 }
.translate_text {
    border: 2px solid #c7c414;
}
/*обёотка указания заказчика и исполнителя*/
.wrapper_personality_or_client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
}
.text_window {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text_window input {
    margin-left: 5px;
    align-self: center;
    font-size: 12px;
}
.selected_translator {
    /* font-size: 12px;  */
    margin-left: 5px;
    align-self: center;
}
/*поле текста на перевод*/

.text_to_translate {
    resize: none;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    margin: 10px 0 10px 0;
    
    
}
.text_to_translate::-webkit-scrollbar {
    width: 0;
}

/*обёртка кнопки отправить */
.wrapper_submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper_submit input {
    align-self: center;
}

/*позиционирование для дедлайн контейнера*/

.wrapper_deadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrapper_deadline p, .wrapper_deadline input {
    font-size: 12px;
}
.deactivate {
    display: none;
}

.wrapper_button_forms {
    display: flex;
    justify-items: center;
}